In [61]:
import numpy as np
import pandas as pd
# Import comma-separated variable file
data = pd.read_csv('vehicles.csv')
data.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [2]:
# Import tab-delimited file
data = pd.read_csv('vehicles_tab.txt', sep='\t')
data.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [3]:
# Import pipe-delimited file
data = pd.read_csv('vehicles_pipe.txt', sep='|')
data.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [4]:
data = pd.read_excel('vehicles.xlsx')
data.to_excel('vehicles.xlsx', index=False)
data.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [6]:
data = pd.read_json('vehicles.json', orient='records')

data.to_json('vehicles.json', orient='records')
data.head()

ValueError: arrays must all be same length

In [8]:
data = pd.read_json('vehicles.json', orient='split')
data.to_json('vehicles.json', orient='split')
data.head()

,CO2 Emission Grams/Mile,City MPG,Combined MPG,Cylinders,Drivetrain,Engine Displacement,Fuel Barrels/Year,Fuel Cost/Year,Fuel Type,Highway MPG,Make,Model,Transmission,Vehicle Class,Year
0,522.764706,18,17,4,2-Wheel Drive,2.5,19.388824,1950,Regular,17,AM General,DJ Po Vehicle 2WD,Automatic 3-spd,Special Purpose Vehicle 2WD,1984
1,683.615385,13,13,6,2-Wheel Drive,4.2,25.354615,2550,Regular,13,AM General,FJ8c Post Office,Automatic 3-spd,Special Purpose Vehicle 2WD,1984
10,444.350000,17,20,6,Front-Wheel Drive,3.0,16.480500,1650,Regular,26,Acura,2.3CL/3.0CL,Automatic 4-spd,Subcompact Cars,1998
100,467.736842,17,19,6,Front-Wheel Drive,2.7,17.347895,1750,Regular,22,Acura,Legend,Manual 5-spd,Compact Cars,1989
1000,493.722222,16,18,8,4-Wheel or All-Wheel Drive,4.2,18.311667,2250,Premium,22,Audi,A8,Automatic (S6),Midsize Cars,2006

In [9]:
data = pd.read_json('vehicles.json', orient='index')

data.to_json('vehicles.json', orient='index')
data.head()

ValueError: arrays must all be same length

In [1]:
import pymysql
from sqlachemy import create_engine

ModuleNotFoundError: No module named 'sqlachemy'

In [11]:
engine = create_engine('mysql+pymysql://root:@localhost/publications')

NameError: name 'create_engine' is not defined

In [ ]:
conda install -c anaconda sqlalchemy

In [1]:
import pymysql

In [3]:
import pymysql.cursors
connection = pymysql.connect(host='127.0.0.1',
                            user='root',
                            password='',
                            db='lab_mysql',
                            charset='utf8mb4',
                            cursorclass=pymysql.cursors.DictCursor)

In [4]:
q1 = "SELECT * FROM employee"

In [9]:
cursor = connection.cursor()
cursor.execute(q1)
#x = cursor.fetchone()
x = cursor.fetchall()
#print(x)
for row in cursor:
    print(row)

In [12]:
x = cursor.fetchall()
data1 = pd.DataFrame(x)
data1.head()

Empty DataFrame
Columns: []
Index: []

In [13]:
q2 = '''select sales.stor_id, count(title_id) as Items, count(distinct(sales.`ord_num`)) as NumberofOrders,
SUM(sales.qty) as QuantitySold, stores.stor_name as StoreName
From sales
left join stores
on sales.stor_id = stores.stor_id
group by sales.stor_id
order by SUM(sales.qty)'''

cursor = connection.cursor()
cursor.execute(q2)
x = cursor.fetchall()

data = pd.DataFrame(x)
data.head()

   Items  NumberofOrders QuantitySold            StoreName stor_id
0      2               2            8  Eric the Read Books    6380
1      3               3           60   Fricative Bookshop    7896
2      4               4           80             Bookbeat    8042
3      4               2           90         News & Brews    7067
4      2               2          125             Barnum's    7066

In [14]:
q3 = '''SELECT StoreName, Items/NumberofOrders AS AvgItems, QuantitySold/Items AS AvgQty
FROM (
select sales.stor_id, count(title_id) as Items, count(distinct(sales.`ord_num`)) as NumberofOrders,
SUM(sales.qty) as QuantitySold, stores.stor_name as StoreName
From sales
left join stores
on sales.stor_id = stores.stor_id
group by sales.stor_id
order by SUM(sales.qty)
)subquery'''

cursor = connection.cursor()
cursor.execute(q3)
x = cursor.fetchall()

data = pd.DataFrame(x)
data.head()

  AvgItems   AvgQty            StoreName
0   1.0000   4.0000  Eric the Read Books
1   1.0000  20.0000   Fricative Bookshop
2   1.0000  20.0000             Bookbeat
3   2.0000  22.5000         News & Brews
4   1.0000  62.5000             Barnum's

In [18]:
q4 =  "Insert into jobs(job_id, job_desc, min_lvl, max_lvl)"\
        + "values (%s, %s, %s, %s)"
cursor.execute(q4, (15, "Data Analyst", 10, 20) )
connection.commit()

In [21]:
q5 = "Update jobs set job_desc = %s where job_id = %s "
cursor.execute(q5, ("Data Analyst/Data Scientist", 150 ) )
connection.commit()

In [22]:
cursor.close()

In [24]:
data = pd.read_csv('vehicles_messy.csv')

C:\Users\regi_\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [25]:
data.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [26]:
data.columns

Index(['barrels08', 'barrelsA08', 'charge120', 'charge240', 'city08',
       'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2',
       'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U',
       'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders',
       'displ', 'drive', 'engId', 'eng_dscr', 'feScore', 'fuelCost08',
       'fuelCostA08', 'fuelType', 'fuelType1', 'ghgScore', 'ghgScoreA',
       'highway08', 'highway08U', 'highwayA08', 'highwayA08U', 'highwayCD',
       'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4', 'make',
       'model', 'mpgData', 'phevBlended', 'pv2', 'pv4', 'range', 'rangeCity',
       'rangeCityA', 'rangeHwy', 'rangeHwyA', 'trany', 'UCity', 'UCityA',
       'UHighway', 'UHighwayA', 'VClass', 'year', 'youSaveSpend', 'guzzler',
       'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA',
       'evMotor', 'mfrCode', 'c240Dscr', 'charge240b', 'c240bDscr',
       'createdOn', 'modifiedOn', 'startStop', 'phevCity', 'phevHwy',
       'phevComb'],
      dtype='object')

In [27]:
data.dtypes

barrels08          float64
barrelsA08         float64
charge120          float64
charge240          float64
city08               int64
city08U            float64
cityA08              int64
cityA08U           float64
cityCD             float64
cityE              float64
cityUF             float64
co2                  int64
co2A                 int64
co2TailpipeAGpm    float64
co2TailpipeGpm     float64
comb08               int64
comb08U            float64
combA08              int64
combA08U           float64
combE              float64
combinedCD         float64
combinedUF         float64
cylinders          float64
displ              float64
drive               object
engId                int64
eng_dscr            object
feScore              int64
fuelCost08           int64
fuelCostA08          int64
                    ...
rangeCity          float64
rangeCityA         float64
rangeHwy           float64
rangeHwyA          float64
trany               object
UCity              float64
UCityA             float64
UHighway           float64
UHighwayA          float64
VClass              object
year                 int64
youSaveSpend         int64
guzzler             object
trans_dscr          object
tCharger            object
sCharger            object
atvType             object
fuelType2           object
rangeA              object
evMotor             object
mfrCode             object
c240Dscr            object
charge240b         float64
c240bDscr           object
createdOn           object
modifiedOn          object
startStop           object
phevCity             int64
phevHwy              int64
phevComb             int64
Length: 83, dtype: object

In [28]:
data['fuelType'].head(6)

0    Regular
1    Regular
2    Regular
3    Regular
4    Premium
5    Regular
Name: fuelType, dtype: object

In [34]:
data.isnull().head(3)

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False

In [35]:
null_cols = data.isnull().sum()
null_cols[null_cols > 0]

cylinders       123
displ           120
drive          1189
eng_dscr      15403
trany            11
guzzler       35562
trans_dscr    22796
tCharger      32657
sCharger      37177
atvType       34771
fuelType2     36435
rangeA        36440
evMotor       37281
mfrCode       30818
c240Dscr      37806
c240bDscr     37807
startStop     31705
dtype: int64

In [36]:
null_cols = data.isnull().sum()
print(null_cols)
null_cols[null_cols > 0]

barrels08              0
barrelsA08             0
charge120              0
charge240              0
city08                 0
city08U                0
cityA08                0
cityA08U               0
cityCD                 0
cityE                  0
cityUF                 0
co2                    0
co2A                   0
co2TailpipeAGpm        0
co2TailpipeGpm         0
comb08                 0
comb08U                0
combA08                0
combA08U               0
combE                  0
combinedCD             0
combinedUF             0
cylinders            123
displ                120
drive               1189
engId                  0
eng_dscr           15403
feScore                0
fuelCost08             0
fuelCostA08            0
                   ...
rangeCity              0
rangeCityA             0
rangeHwy               0
rangeHwyA              0
trany                 11
UCity                  0
UCityA                 0
UHighway               0
UHighwayA              0
VClass                 0
year                   0
youSaveSpend           0
guzzler            35562
trans_dscr         22796
tCharger           32657
sCharger           37177
atvType            34771
fuelType2          36435
rangeA             36440
evMotor            37281
mfrCode            30818
c240Dscr           37806
charge240b             0
c240bDscr          37807
createdOn              0
modifiedOn             0
startStop          31705
phevCity               0
phevHwy                0
phevComb               0
Length: 83, dtype: int64

cylinders       123
displ           120
drive          1189
eng_dscr      15403
trany            11
guzzler       35562
trans_dscr    22796
tCharger      32657
sCharger      37177
atvType       34771
fuelType2     36435
rangeA        36440
evMotor       37281
mfrCode       30818
c240Dscr      37806
c240bDscr     37807
startStop     31705
dtype: int64

In [37]:
type(null_cols)

pandas.core.series.Series

In [38]:
data.shape

(37843, 83)

In [41]:
drop_cols = list(null_cols[null_cols > 10000].index)
print(drop_cols)

['eng_dscr', 'guzzler', 'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA', 'evMotor', 'mfrCode', 'c240Dscr', 'c240bDscr', 'startStop']

In [42]:
data = data.drop(drop_cols, axis=1)

In [43]:
null_cols = data.isnull().sum()

In [44]:
null_cols[null_cols > 0 ]

cylinders     123
displ         120
drive        1189
trany          11
dtype: int64

In [45]:
null_displ = data[(data['displ'].isnull()==True)]
null_displ = null_displ[['year', 'make', 'model', 'trany', 'drive','fuelType','cylinders', 'displ']]
null_displ

,year,make,model,trany,drive,fuelType,cylinders,displ
7138,2000,Nissan,Altra EV,NaN,NaN,Electricity,NaN,NaN
7139,2000,Toyota,RAV4 EV,NaN,2-Wheel Drive,Electricity,NaN,NaN
8143,2001,Toyota,RAV4 EV,NaN,2-Wheel Drive,Electricity,NaN,NaN
8144,2001,Ford,Th!nk,NaN,NaN,Electricity,NaN,NaN
8146,2001,Ford,Explorer USPS Electric,NaN,2-Wheel Drive,Electricity,NaN,NaN
8147,2001,Nissan,Hyper-Mini,NaN,NaN,Electricity,NaN,NaN
9212,2002,Toyota,RAV4 EV,NaN,2-Wheel Drive,Electricity,NaN,NaN
9213,2002,Ford,Explorer USPS Electric,NaN,2-Wheel Drive,Electricity,NaN,NaN
10329,2003,Toyota,RAV4 EV,NaN,2-Wheel Drive,Electricity,NaN,NaN
21413,1985,Subaru,RX Turbo,Manual 5-spd,4-Wheel Drive,Regular,NaN,NaN
21414,1985,Subaru,RX Turbo,Manual 5-spd,4-Wheel Drive,Regular,NaN,NaN
23026,2001,Ford,Ranger Pickup 2WD,Automatic (A1),2-Wheel Drive,Electricity,NaN,NaN
23027,2000,Ford,Ranger Pickup 2WD,Automatic (A1),2-Wheel Drive,Electricity,NaN,NaN
23028,2000,Ford,Ranger Pickup 2WD,Automatic (A1),2-Wheel Drive,Electricity,NaN,NaN
23029,1999,GMC,EV1,Automatic (A1),NaN,Electricity,NaN,NaN
23030,1999,GMC,EV1,Automatic (A1),NaN,Electricity,NaN,NaN
23032,1999,Honda,EV Plus,Automatic (A1),NaN,Electricity,NaN,NaN
23033,1999,Ford,Ranger Pickup 2WD,Automatic (A1),2-Wheel Drive,Electricity,NaN,NaN
23034,1999,Ford,Ranger Pickup 2WD,Automatic (A1),2-Wheel Drive,Electricity,NaN,NaN
23035,1999,Dodge,Caravan/Grand Caravan 2WD,Automatic (A1),2-Wheel Drive,Electricity,NaN,NaN
23036,1999,Plymouth,Voyager/Grand Voyager 2WD,Automatic (A1),Front-Wheel Drive,Electricity,NaN,NaN
23037,1998,Honda,EV Plus,Automatic (A1),NaN,Electricity,NaN,NaN
23038,1998,Chevrolet,S10 Electric,Automatic (A1),2-Wheel Drive,Electricity,NaN,NaN
23039,1998,Chevrolet,S10 Electric,Automatic (A1),2-Wheel Drive,Electricity,NaN,NaN
23040,2008,MINI,MiniE,Automatic (A1),NaN,Electricity,NaN,NaN
23041,2011,Nissan,Leaf,Automatic (A1),Front-Wheel Drive,Electricity,NaN,NaN
23137,2011,smart,fortwo electric drive cabriolet,Automatic (A1),Rear-Wheel Drive,Electricity,NaN,NaN
23138,2011,smart,fortwo electric drive coupe,Automatic (A1),Rear-Wheel Drive,Electricity,NaN,NaN
23807,2012,Mitsubishi,i-MiEV,Automatic (A1),Rear-Wheel Drive,Electricity,NaN,NaN
24051,2012,Azure Dynamics,Transit Connect Electric Van,Automatic (A1),Front-Wheel Drive,Electricity,NaN,NaN
...,...,...,...,...,...,...,...,...
29654,2016,Tesla,Model X AWD - P90D,Automatic (A1),All-Wheel Drive,Electricity,NaN,NaN
29671,2016,Chevrolet,Spark EV,Automatic (A1),Front-Wheel Drive,Electricity,NaN,NaN
29672,2016,Mercedes-Benz,B250e,Automatic (A1),Front-Wheel Drive,Electricity,NaN,NaN
29750,2016,Nissan,Leaf (24 kW-hr battery pack),Automatic (A1),Front-Wheel Drive,Electricity,NaN,NaN
29751,2016,Nissan,Leaf (30 kW-hr battery pack),Automatic (A1),Front-Wheel Drive,Electricity,NaN,NaN
29849,2016,Fiat,500e,Automatic (A1),Front-Wheel Drive,Electricity,NaN,NaN
29915,2016,BMW,i3 BEV,Automatic (A1),Rear-Wheel Drive,Electricity,NaN,NaN
29933,2016,Tesla,Model S (70 kW-hr battery pack),Automatic (A1),Rear-Wheel Drive,Electricity,NaN,NaN
29934,2016,Tesla,Model S (85 kW-hr battery pack),Automatic (A1),Rear-Wheel Drive,Electricity,NaN,NaN
29935,2016,Tesla,Model S (90 kW-hr battery pack),Automatic (A1),Rear-Wheel Drive,Electricity,NaN,NaN
29936,2015,Tesla,Model S (90 kW-hr battery pack),Automatic (A1),Rear-Wheel Drive,Electricity,NaN,NaN
29938,2016,Tesla,Model S AWD - 70D,Automatic (A1),All-Wheel Drive,Electricity,NaN,NaN
29939,2016,Tesla,Model S AWD - 85D,Automatic (A1),All-Wheel Drive,Electricity,NaN,NaN
29941,2016,Tesla,Model S AWD - 90D,Automatic (A1),All-Wheel Drive,Electricity,NaN,NaN
29942,2016,Tesla,Model S AWD - P85D,Automatic (A1),All-Wheel Drive,Electricity,NaN,NaN
29943,2016,Tesla,Model S AWD - P90D,Automatic (A1),All-Wheel Drive,Electricity,NaN,NaN
29999,2017,Mitsubishi,i-MiEV,Automatic (A1),Rear-Wheel Drive,Electricity,NaN,NaN
30141,2016,Tesla,Model S (75 kW-hr battery pack),Automatic (A1),Rear-Wheel Drive,Electricity,NaN,NaN
30142,2016,Tesla,Model S AWD - 75D,Automatic (A1),All-Wheel Drive,Electricity,NaN,NaN
30143,2016,Tesla,Model X AWD - 75D,Automatic (A1),All-Wheel Drive,Electricity,NaN,NaN
30557,2017,Fiat,500e,Automatic (A1),Front-Wheel Drive,Electricity,NaN,NaN
30561,2016,BYD,e6,Automatic (A1),Front-Wheel Drive,Electricity,NaN,NaN
30784,2017,BMW,I3 BEV (60 Amp-hour battery),Automatic (A1),Rear-Wheel Drive,Electricity,NaN,NaN
30785,2017,BMW,I3 BEV (94 Amp-hour battery),Automatic (A1),Rear-Wheel Drive,Electricity,NaN,NaN
30786,2017,Mercedes-Benz,B250e,Automatic (A1),Front-Wheel Drive,Electricity,NaN,NaN
30969,2017,Kia,Soul Electric,Automatic (A1),Front-Wheel Drive,Electricity,NaN,NaN
30972,2016,Tesla,Model S (60 kW-hr battery pack),Automatic (A1),Rear-Wheel Drive,Electricity,NaN,NaN
30973,2016,Tesla,Model S AWD - 60D,Automatic (A1),All-Wheel Drive,Electricity,NaN,NaN
30974,2016,Tesla,Model S AWD - P100D,Automatic (A1),All-Wheel Drive,Electricity,NaN,NaN
30975,2016,Tesla,Model X AWD - 60D,Automatic (A1),All-Wheel Drive,Electricity,NaN,NaN

In [50]:
data.iloc[1]

barrels08                               29.9645
barrelsA08                                    0
charge120                                     0
charge240                                     0
city08                                        9
city08U                                       0
cityA08                                       0
cityA08U                                      0
cityCD                                        0
cityE                                         0
cityUF                                        0
co2                                          -1
co2A                                         -1
co2TailpipeAGpm                               0
co2TailpipeGpm                          807.909
comb08                                       11
comb08U                                       0
combA08                                       0
combA08U                                      0
combE                                         0
combinedCD                                    0
combinedUF                                    0
cylinders                                    12
displ                                       4.9
drive                          Rear-Wheel Drive
engId                                     22020
feScore                                      -1
fuelCost08                                 3050
fuelCostA08                                   0
fuelType                                Regular
                               ...
hlv                                           0
hpv                                           0
id                                           10
lv2                                           0
lv4                                           0
make                                    Ferrari
model                                Testarossa
mpgData                                       N
phevBlended                               False
pv2                                           0
pv4                                           0
range                                         0
rangeCity                                     0
rangeCityA                                    0
rangeHwy                                      0
rangeHwyA                                     0
trany                              Manual 5-spd
UCity                                        11
UCityA                                        0
UHighway                                     19
UHighwayA                                     0
VClass                              Two Seaters
year                                       1985
youSaveSpend                              -8500
charge240b                                    0
createdOn          Tue Jan 01 00:00:00 EST 2013
modifiedOn         Tue Jan 01 00:00:00 EST 2013
phevCity                                      0
phevHwy                                       0
phevComb                                      0
Name: 1, Length: 70, dtype: object

In [48]:
data.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UHighwayA,VClass,year,youSaveSpend,charge240b,createdOn,modifiedOn,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,0.0,Two Seaters,1985,-1250,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,0.0,Two Seaters,1985,-8500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,0.0,Subcompact Cars,1985,500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,0.0,Vans,1985,-8500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-4000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0

In [51]:
data[['displ', 'cylinders']] = data[['displ', 'cylinders']].fillna(0)

In [52]:
data.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UHighwayA,VClass,year,youSaveSpend,charge240b,createdOn,modifiedOn,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,0.0,Two Seaters,1985,-1250,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,0.0,Two Seaters,1985,-8500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,0.0,Subcompact Cars,1985,500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,0.0,Vans,1985,-8500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-4000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0

In [53]:
low_variance = []

for col in data._get_numeric_data():
    minimum = min(data[col])
    ninety_perc = np.percentile(data[col], 90)
    if ninety_perc == minimum:
        low_variance.append(col)

print(low_variance)

['barrelsA08', 'charge120', 'charge240', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2A', 'co2TailpipeAGpm', 'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'fuelCostA08', 'ghgScoreA', 'highwayA08', 'highwayA08U', 'highwayCD', 'highwayE', 'highwayUF', 'phevBlended', 'range', 'rangeCity', 'rangeCityA', 'rangeHwy', 'rangeHwyA', 'UCityA', 'UHighwayA', 'charge240b', 'phevCity', 'phevHwy', 'phevComb']

In [54]:
data = data.drop(low_variance, axis=1)

In [55]:
data.describe()

,barrels08,city08,city08U,co2,co2TailpipeGpm,comb08,comb08U,cylinders,displ,engId,...,hpv,id,lv2,lv4,pv2,pv4,UCity,UHighway,year,youSaveSpend
count,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.00000,37843.000000,37843.000000,...,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000
mean,17.532506,17.941389,4.042737,61.503713,473.179736,20.195809,4.549751,5.71934,3.307658,8860.308961,...,10.424332,19019.286235,1.849219,6.165658,13.696113,33.769125,22.587229,33.619221,2000.064398,-2658.999022
std,4.575950,6.660360,9.645820,153.387715,122.188847,6.623444,10.389994,1.77918,1.371982,17829.683477,...,28.148770,11034.784855,4.429983,9.743297,31.269930,45.914462,9.350163,10.048326,10.390588,2553.098329
min,0.060000,6.000000,0.000000,-1.000000,0.000000,7.000000,0.000000,0.00000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1984.000000,-22250.000000
25%,14.330870,15.000000,0.000000,-1.000000,388.000000,17.000000,0.000000,4.00000,2.200000,0.000000,...,0.000000,9461.500000,0.000000,0.000000,0.000000,0.000000,18.000000,27.100000,1990.000000,-4250.000000
50%,17.347895,17.000000,0.000000,-1.000000,467.736842,19.000000,0.000000,6.00000,3.000000,211.000000,...,0.000000,18923.000000,0.000000,0.000000,0.000000,0.000000,21.000000,33.000000,2001.000000,-2500.000000
75%,20.600625,20.000000,0.000000,-1.000000,555.437500,23.000000,0.000000,6.00000,4.300000,4505.000000,...,0.000000,28570.500000,0.000000,13.000000,0.000000,91.000000,25.139300,38.109600,2009.000000,-750.000000
max,47.087143,138.000000,138.304000,847.000000,1269.571429,124.000000,124.360100,16.00000,8.400000,69102.000000,...,195.000000,38173.000000,41.000000,55.000000,194.000000,192.000000,197.577100,159.100000,2017.000000,4000.000000

In [57]:
stats = data.describe().transpose()
stats

,count,mean,std,min,25%,50%,75%,max
barrels08,37843.0,17.532506,4.575950,0.06,14.33087,17.347895,20.600625,47.087143
city08,37843.0,17.941389,6.660360,6.00,15.00000,17.000000,20.000000,138.000000
city08U,37843.0,4.042737,9.645820,0.00,0.00000,0.000000,0.000000,138.304000
co2,37843.0,61.503713,153.387715,-1.00,-1.00000,-1.000000,-1.000000,847.000000
co2TailpipeGpm,37843.0,473.179736,122.188847,0.00,388.00000,467.736842,555.437500,1269.571429
comb08,37843.0,20.195809,6.623444,7.00,17.00000,19.000000,23.000000,124.000000
comb08U,37843.0,4.549751,10.389994,0.00,0.00000,0.000000,0.000000,124.360100
cylinders,37843.0,5.719340,1.779180,0.00,4.00000,6.000000,6.000000,16.000000
displ,37843.0,3.307658,1.371982,0.00,2.20000,3.000000,4.300000,8.400000
engId,37843.0,8860.308961,17829.683477,0.00,0.00000,211.000000,4505.000000,69102.000000
feScore,37843.0,-0.035145,2.379584,-1.00,-1.00000,-1.000000,-1.000000,10.000000
fuelCost08,37843.0,1882.060090,510.280408,550.00,1500.00000,1850.000000,2200.000000,5800.000000
ghgScore,37843.0,-0.037206,2.374338,-1.00,-1.00000,-1.000000,-1.000000,10.000000
highway08,37843.0,24.104881,6.963192,9.00,20.00000,24.000000,27.000000,111.000000
highway08U,37843.0,5.438467,11.936327,0.00,0.00000,0.000000,0.000000,111.370000
hlv,37843.0,2.026214,5.947989,0.00,0.00000,0.000000,0.000000,49.000000
hpv,37843.0,10.424332,28.148770,0.00,0.00000,0.000000,0.000000,195.000000
id,37843.0,19019.286235,11034.784855,1.00,9461.50000,18923.000000,28570.500000,38173.000000
lv2,37843.0,1.849219,4.429983,0.00,0.00000,0.000000,0.000000,41.000000
lv4,37843.0,6.165658,9.743297,0.00,0.00000,0.000000,13.000000,55.000000
pv2,37843.0,13.696113,31.269930,0.00,0.00000,0.000000,0.000000,194.000000
pv4,37843.0,33.769125,45.914462,0.00,0.00000,0.000000,91.000000,192.000000
UCity,37843.0,22.587229,9.350163,0.00,18.00000,21.000000,25.139300,197.577100
UHighway,37843.0,33.619221,10.048326,0.00,27.10000,33.000000,38.109600,159.100000
year,37843.0,2000.064398,10.390588,1984.00,1990.00000,2001.000000,2009.000000,2017.000000
youSaveSpend,37843.0,-2658.999022,2553.098329,-22250.00,-4250.00000,-2500.000000,-750.000000,4000.000000

In [58]:
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
barrels08,37843.0,17.532506,4.575950,0.06,14.33087,17.347895,20.600625,47.087143,6.269755
city08,37843.0,17.941389,6.660360,6.00,15.00000,17.000000,20.000000,138.000000,5.000000
city08U,37843.0,4.042737,9.645820,0.00,0.00000,0.000000,0.000000,138.304000,0.000000
co2,37843.0,61.503713,153.387715,-1.00,-1.00000,-1.000000,-1.000000,847.000000,0.000000
co2TailpipeGpm,37843.0,473.179736,122.188847,0.00,388.00000,467.736842,555.437500,1269.571429,167.437500
comb08,37843.0,20.195809,6.623444,7.00,17.00000,19.000000,23.000000,124.000000,6.000000
comb08U,37843.0,4.549751,10.389994,0.00,0.00000,0.000000,0.000000,124.360100,0.000000
cylinders,37843.0,5.719340,1.779180,0.00,4.00000,6.000000,6.000000,16.000000,2.000000
displ,37843.0,3.307658,1.371982,0.00,2.20000,3.000000,4.300000,8.400000,2.100000
engId,37843.0,8860.308961,17829.683477,0.00,0.00000,211.000000,4505.000000,69102.000000,4505.000000
feScore,37843.0,-0.035145,2.379584,-1.00,-1.00000,-1.000000,-1.000000,10.000000,0.000000
fuelCost08,37843.0,1882.060090,510.280408,550.00,1500.00000,1850.000000,2200.000000,5800.000000,700.000000
ghgScore,37843.0,-0.037206,2.374338,-1.00,-1.00000,-1.000000,-1.000000,10.000000,0.000000
highway08,37843.0,24.104881,6.963192,9.00,20.00000,24.000000,27.000000,111.000000,7.000000
highway08U,37843.0,5.438467,11.936327,0.00,0.00000,0.000000,0.000000,111.370000,0.000000
hlv,37843.0,2.026214,5.947989,0.00,0.00000,0.000000,0.000000,49.000000,0.000000
hpv,37843.0,10.424332,28.148770,0.00,0.00000,0.000000,0.000000,195.000000,0.000000
id,37843.0,19019.286235,11034.784855,1.00,9461.50000,18923.000000,28570.500000,38173.000000,19109.000000
lv2,37843.0,1.849219,4.429983,0.00,0.00000,0.000000,0.000000,41.000000,0.000000
lv4,37843.0,6.165658,9.743297,0.00,0.00000,0.000000,13.000000,55.000000,13.000000
pv2,37843.0,13.696113,31.269930,0.00,0.00000,0.000000,0.000000,194.000000,0.000000
pv4,37843.0,33.769125,45.914462,0.00,0.00000,0.000000,91.000000,192.000000,91.000000
UCity,37843.0,22.587229,9.350163,0.00,18.00000,21.000000,25.139300,197.577100,7.139300
UHighway,37843.0,33.619221,10.048326,0.00,27.10000,33.000000,38.109600,159.100000,11.009600
year,37843.0,2000.064398,10.390588,1984.00,1990.00000,2001.000000,2009.000000,2017.000000,19.000000
youSaveSpend,37843.0,-2658.999022,2553.098329,-22250.00,-4250.00000,-2500.000000,-750.000000,4000.000000,3500.000000

In [59]:
outliers = pd.DataFrame(columns=data.columns)

for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = data[(data[col] < lower) | 
                   (data[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)

C:\Users\regi_\Anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [62]:
data['year'] = data['year'].astype('object')
data['year'].dtype

dtype('O')

KeyError: 'year'

In [63]:
print(set(data['trany']))

KeyError: 'trany'

In [72]:
import pandas as pd

data = pd.read_csv('vehicles.csv')
data.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [65]:
data.columns

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [69]:
data.columns = ['Manufacturer','Model','Year','Displacement',
                'Cylinders','Transmission','Drivetrain',
                'Vehicle Class','Fuel Type','Fuel Barrels/Year',
                'City MPG','Highway MPG','Combined MPG',
                'CO2 Emission Grams/Mile','Fuel Cost/Year']

In [70]:
data.head(5)

,Manufacturer,Model,Year,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [73]:
column_order = ['Year','Make','Model','Vehicle Class',
                'Transmission','Drivetrain','Fuel Type',
                'Cylinders','Engine Displacement','Fuel Barrels/Year',
                'City MPG','Highway MPG','Combined MPG',
                'CO2 Emission Grams/Mile','Fuel Cost/Year']

data = data[column_order]
data.head()

,Year,Make,Model,Vehicle Class,Transmission,Drivetrain,Fuel Type,Cylinders,Engine Displacement,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,Regular,4.0,2.5,19.388824,18,17,17,522.764706,1950
1,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,Regular,6.0,4.2,25.354615,13,13,13,683.615385,2550
2,1985,AM General,Post Office DJ5 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,Rear-Wheel Drive,Regular,4.0,2.5,20.600625,16,17,16,555.437500,2100
3,1985,AM General,Post Office DJ8 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,Rear-Wheel Drive,Regular,6.0,4.2,25.354615,13,13,13,683.615385,2550
4,1987,ASC Incorporated,GNX,Midsize Cars,Automatic 4-spd,Rear-Wheel Drive,Premium,6.0,3.8,20.600625,14,21,16,555.437500,2550

In [74]:
filtered = data[(data['Make']=='Ford') & 
                (data['Cylinders']>=6) & 
                (data['Combined MPG'] < 18)]

filtered.head()

,Year,Make,Model,Vehicle Class,Transmission,Drivetrain,Fuel Type,Cylinders,Engine Displacement,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11442,1986,Ford,Aerostar Van,Vans,Automatic 4-spd,Rear-Wheel Drive,Regular,6.0,2.8,19.388824,15,21,17,522.764706,1950
11450,1988,Ford,Aerostar Van,Vans,Automatic 4-spd,Rear-Wheel Drive,Regular,6.0,3.0,19.388824,15,20,17,522.764706,1950
11452,1989,Ford,Aerostar Van,Vans,Automatic 4-spd,Rear-Wheel Drive,Regular,6.0,3.0,19.388824,15,21,17,522.764706,1950
11456,1990,Ford,Aerostar Van,Vans,Automatic 4-spd,Rear-Wheel Drive,Regular,6.0,4.0,19.388824,15,20,17,522.764706,1950
11459,1991,Ford,Aerostar Van,Vans,Automatic 4-spd,Rear-Wheel Drive,Regular,6.0,4.0,19.388824,15,20,17,522.764706,1950

In [75]:
stats = data.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
Year,35952.0,2000.716400,10.085290,1984.00,1991.000000,2001.000000,2010.000000,2017.000000,19.000000
Cylinders,35952.0,5.765076,1.755268,2.00,4.000000,6.000000,6.000000,16.000000,2.000000
Engine Displacement,35952.0,3.338493,1.359395,0.60,2.200000,3.000000,4.300000,8.400000,2.100000
Fuel Barrels/Year,35952.0,17.609056,4.467283,0.06,14.699423,17.347895,20.600625,47.087143,5.901202
City MPG,35952.0,17.646139,4.769349,6.00,15.000000,17.000000,20.000000,58.000000,5.000000
Highway MPG,35952.0,23.880646,5.890876,9.00,20.000000,24.000000,27.000000,61.000000,7.000000
Combined MPG,35952.0,19.929322,5.112409,7.00,16.000000,19.000000,23.000000,56.000000,7.000000
CO2 Emission Grams/Mile,35952.0,475.316339,119.060773,37.00,395.000000,467.736842,555.437500,1269.571429,160.437500
Fuel Cost/Year,35952.0,1892.598465,506.958627,600.00,1500.000000,1850.000000,2200.000000,5800.000000,700.000000

In [76]:
outliers = pd.DataFrame(columns=data.columns)

for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = data[(data[col] < lower) | 
                   (data[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)

In [77]:
outliers.head()

,CO2 Emission Grams/Mile,City MPG,Combined MPG,Cylinders,Drivetrain,Engine Displacement,Fuel Barrels/Year,Fuel Cost/Year,Fuel Type,Highway MPG,Make,Model,Outlier,Transmission,Vehicle Class,Year
370,740.583333,10,12,12.0,Rear-Wheel Drive,5.9,27.467500,3400,Premium,17,Aston Martin,DB AR1,Cylinders,Automatic 5-spd,Two Seaters,2003
371,807.909091,9,11,12.0,Rear-Wheel Drive,5.9,29.964545,3700,Premium,16,Aston Martin,DB AR1,Cylinders,Manual 6-spd,Two Seaters,2003
372,807.909091,9,11,12.0,Rear-Wheel Drive,5.9,29.964545,3700,Premium,15,Aston Martin,DB-7 GT Coupe,Cylinders,Manual 6-spd,Minicompact Cars,2003
373,807.909091,9,11,12.0,Rear-Wheel Drive,5.9,29.964545,3700,Premium,16,Aston Martin,DB-7 GT Volante,Cylinders,Manual 6-spd,Minicompact Cars,2003
374,740.583333,10,12,12.0,Rear-Wheel Drive,5.9,27.467500,3400,Premium,17,Aston Martin,DB-7 Vantage Coupe,Cylinders,Automatic 5-spd,Minicompact Cars,2000