In [11]:
import numpy as np
import pandas as pd
# Import comma-separated variable file
data = pd.read_csv('vehicles.csv')
data.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [2]:
# Import tab-delimited file
data = pd.read_csv('vehicles_tab.txt', sep='\t')
data.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [3]:
# Import pipe-delimited file
data = pd.read_csv('vehicles_pipe.txt', sep='|')
data.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [4]:
data = pd.read_excel('vehicles.xlsx')
data.to_excel('vehicles.xlsx', index=False)
data.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [6]:
data = pd.read_json('vehicles.json', orient='records')

data.to_json('vehicles.json', orient='records')
data.head()

ValueError: arrays must all be same length

In [8]:
data = pd.read_json('vehicles.json', orient='split')
data.to_json('vehicles.json', orient='split')
data.head()

,CO2 Emission Grams/Mile,City MPG,Combined MPG,Cylinders,Drivetrain,Engine Displacement,Fuel Barrels/Year,Fuel Cost/Year,Fuel Type,Highway MPG,Make,Model,Transmission,Vehicle Class,Year
0,522.764706,18,17,4,2-Wheel Drive,2.5,19.388824,1950,Regular,17,AM General,DJ Po Vehicle 2WD,Automatic 3-spd,Special Purpose Vehicle 2WD,1984
1,683.615385,13,13,6,2-Wheel Drive,4.2,25.354615,2550,Regular,13,AM General,FJ8c Post Office,Automatic 3-spd,Special Purpose Vehicle 2WD,1984
10,444.350000,17,20,6,Front-Wheel Drive,3.0,16.480500,1650,Regular,26,Acura,2.3CL/3.0CL,Automatic 4-spd,Subcompact Cars,1998
100,467.736842,17,19,6,Front-Wheel Drive,2.7,17.347895,1750,Regular,22,Acura,Legend,Manual 5-spd,Compact Cars,1989
1000,493.722222,16,18,8,4-Wheel or All-Wheel Drive,4.2,18.311667,2250,Premium,22,Audi,A8,Automatic (S6),Midsize Cars,2006

In [9]:
data = pd.read_json('vehicles.json', orient='index')

data.to_json('vehicles.json', orient='index')
data.head()

ValueError: arrays must all be same length

In [1]:
import pymysql
from sqlachemy import create_engine

ModuleNotFoundError: No module named 'sqlachemy'

In [11]:
engine = create_engine('mysql+pymysql://root:@localhost/publications')

NameError: name 'create_engine' is not defined

In [ ]:
conda install -c anaconda sqlalchemy

In [1]:
import pymysql

In [3]:
import pymysql.cursors
connection = pymysql.connect(host='127.0.0.1',
                            user='root',
                            password='',
                            db='lab_mysql',
                            charset='utf8mb4',
                            cursorclass=pymysql.cursors.DictCursor)

In [4]:
q1 = "SELECT * FROM employee"

In [9]:
cursor = connection.cursor()
cursor.execute(q1)
#x = cursor.fetchone()
x = cursor.fetchall()
#print(x)
for row in cursor:
    print(row)

In [12]:
x = cursor.fetchall()
data1 = pd.DataFrame(x)
data1.head()

Empty DataFrame
Columns: []
Index: []

In [13]:
q2 = '''select sales.stor_id, count(title_id) as Items, count(distinct(sales.`ord_num`)) as NumberofOrders,
SUM(sales.qty) as QuantitySold, stores.stor_name as StoreName
From sales
left join stores
on sales.stor_id = stores.stor_id
group by sales.stor_id
order by SUM(sales.qty)'''

cursor = connection.cursor()
cursor.execute(q2)
x = cursor.fetchall()

data = pd.DataFrame(x)
data.head()

   Items  NumberofOrders QuantitySold            StoreName stor_id
0      2               2            8  Eric the Read Books    6380
1      3               3           60   Fricative Bookshop    7896
2      4               4           80             Bookbeat    8042
3      4               2           90         News & Brews    7067
4      2               2          125             Barnum's    7066

In [14]:
q3 = '''SELECT StoreName, Items/NumberofOrders AS AvgItems, QuantitySold/Items AS AvgQty
FROM (
select sales.stor_id, count(title_id) as Items, count(distinct(sales.`ord_num`)) as NumberofOrders,
SUM(sales.qty) as QuantitySold, stores.stor_name as StoreName
From sales
left join stores
on sales.stor_id = stores.stor_id
group by sales.stor_id
order by SUM(sales.qty)
)subquery'''

cursor = connection.cursor()
cursor.execute(q3)
x = cursor.fetchall()

data = pd.DataFrame(x)
data.head()

  AvgItems   AvgQty            StoreName
0   1.0000   4.0000  Eric the Read Books
1   1.0000  20.0000   Fricative Bookshop
2   1.0000  20.0000             Bookbeat
3   2.0000  22.5000         News & Brews
4   1.0000  62.5000             Barnum's

In [18]:
q4 =  "Insert into jobs(job_id, job_desc, min_lvl, max_lvl)"\
        + "values (%s, %s, %s, %s)"
cursor.execute(q4, (15, "Data Analyst", 10, 20) )
connection.commit()

In [21]:
q5 = "Update jobs set job_desc = %s where job_id = %s "
cursor.execute(q5, ("Data Analyst/Data Scientist", 150 ) )
connection.commit()

In [22]:
cursor.close()